version: '3.9'
services:
  rtt:
    build:
      context: .
      dockerfile: ./.devcontainer/Dockerfile
    image: rtt
    volumes:
      - ./:/src
    # ports:
    #   - 8008:8000
    # command: python manage.py runserver 0.0.0.0:8000
    command: tail -f /dev/null
    depends_on:
      - db
      - adminer
      - redis
    restart: unless-stopped

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: rtt
      POSTGRES_USER: rtt
      POSTGRES_PASSWORD: rtt
    restart: unless-stopped

  adminer:
    image: adminer
    ports:
      - 9123:8080
    environment:
      ADMINER_DEFAULT_SERVER: db
    restart: unless-stopped

  redis:
    image: redis:8
    restart: unless-stopped

  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - 9124:8080
    environment:
      - SWAGGER_JSON=/schema.yml
    volumes:
      - ./schema.yml:/schema.yml
    restart: unless-stopped
