<div class="timer">
  <div>{{ (displayTimer$ | async) ?? 0 | duration }}</div>

  <button *ngIf="!(startTimer$ | async) && !(stopTimer$ | async)" (click)="start()" mat-icon-button>
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button *ngIf="(pauseTimer$ | async) && !(stopTimer$ | async)" (click)="continue()" mat-icon-button>
    <mat-icon>update</mat-icon>
  </button>

  <button *ngIf="(pauseTimer$ | async) && !(stopTimer$ | async)" (click)="stop()" mat-icon-button>
    <mat-icon>stop</mat-icon>
  </button>

  <button *ngIf="(startTimer$ | async) && !(pauseTimer$ | async)" (click)="pause()" mat-icon-button>
    <mat-icon>pause</mat-icon>
  </button>
</div>
