mat-card {
  border-radius: 0;
  mat-card-content {
    mat-spinner {
      margin: auto;
    }
  }
}

table {
  width: 100%;

  .cdk-column-number {
    width: 65px;
  }
  .cdk-column-timer {
    width: 160px;
  }
  .cdk-column-actions {
    width: 0;
  }
}
